<div id="myCarousel" class="carousel slide" data-ride="carousel">

    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">

        <div class="item active">
            <svg class="bd-placeholder-img" width="100%" height='200px' xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#bababa"/>
            </svg>
            <div class="carousel-caption">
                <h3>IN SOCCER, SKILL IS</h3>
                <h4>THE ART OF TURNING</h4>
                <h4>LIMITATIONS INTO VIRTUES</h4>
                <h5>Eduardo Galeano</h5>
            </div>
        </div>

        <div class="item">
            <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#2e8b57"/>
            </svg>
            <div class="carousel-caption">
                {% if not user.is_authenticated %}
                    <h3>JOIN THE GAME TODAY</h3>
                    <h4>and prove that your are the best player in the world!</h4>
                    <a href="{% url 'login' %}" type="button" class="btn btn-default btn-sm btn-margin-bottom">Sign
                        in</a>
                    <br>
                {% else %}
                    <h3>NEVER GIVE UP, NEVER GIVE IN</h3>
                    <h4>and when the upper hand is ours, may we have the ability to handle the win </h4>
                    <h4>WIT THE DIGNITY THAT WE ABSORBED THE LOSS.</h4>
                    <h5>Doug Williams</h5>
                {% endif %}
            </div>
        </div>

        <div class="item">
            <svg class="bd-placeholder-img" width="100%" height="200px" xmlns="http://www.w3.org/2000/svg"
                 aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false">
                <rect width="100%" height="100%" fill="#a62626"/>
            </svg>
            <div class="carousel-caption">
                {% if not user.is_authenticated %}
                    <h4>If you don't have an account yet,</h4>
                    <h3>SIGN UP</h3>
                    <h4>and join the best!</h4>
                    <a href="{% url 'register' %}" type="button" class="btn btn-default btn-sm btn-margin-bottom">Sign
                        up</a>
                {% else %}
                    <h3>There are no secrets to SUCCESS.</h3>
                    <h4>It is the result of preparation, hard work</h4>
                    <h4>AND LEARNING FROM FAILURE.</h4>
                    <h5>Colin Powell</h5>
                {% endif %}
            </div>
        </div>

    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
        <span class="sr-only">Next</span>
    </a>
</div>