{% extends 'base.html' %}
{% block content %}
    {% include 'carousele.html' %}

    <div class="container ct-margin-top">
        <h2 class="text-center">BEST FOOTBALL PITCHES</h2>
    </div>

    <div class="container ct-margin-top">
        <div class="row">
            {% include 'football_pitches_top_3.html' %}
        </div>
    </div>

    <div class="container ct-margin-top">
        <h2>Upcoming games</h2>
    </div>

    <div class="container ct-margin-top">
        {% if object_list %}
            <div class="panel panel-default">
                <div class="panel-heading"><b>See upcoming games!</b></div>
                <table class="table table">
                    <thead>
                    <tr>
                        <th>Footabll Pitch</th>
                        <th>Date</th>
                        <th>Game Time</th>
                        <th>Address</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for game in object_list %}
                        <tr>
                            <td>{{ game.football_pitch.name }}</td>
                            <td>{{ game.date|date:"d M y" }}</td>
                            <td>{{ game.date|time }}</td>
                            <td>{{ game.football_pitch.city }}, {{ game.football_pitch.street }}</td>
                            <td><a class="txtlink" href="{% url 'game_details' game.pk %}">Game details</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {% else %}
            <h3>No games yet</h3>
        {% endif %}
    </div>
    <div class="ct-margin-top"></div>

{% endblock %}