{% extends 'base.html' %}
{% load static %}
{% block title %}My games - {{ user.username }}{% endblock %}
{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-2 sidenav ct-margin-top">
                {% if upcoming_games %}
                    <h4><span class="glyphicon glyphicon-bell"></span> Next game - <a
                            href="{% url 'game_details' upcoming_games.first.pk %}">show next game</a></h4>
                    <h5>{% if upcoming_games.first.level == 1 %}
                        <span class="label label-success">{{ upcoming_games.first.get_level_display }}</span>
                    {% elif upcoming_games.first.level == 2 %}
                        <span class="label label-info">{{ upcoming_games.first.get_level_display }}</span>
                    {% elif upcoming_games.first.level == 3 %}
                        <span class="label label-warning">{{ upcoming_games.first.get_level_display }}</span>
                    {% elif upcoming_games.first.level == 4 %}
                        <span class="label label-danger">{{ upcoming_games.first.get_level_display }}</span>
                    {% endif %}
                        <span class="label label-primary">Player count: {{ upcoming_games.first.player_count }}</span>
                    </h5>
                    <hr>
                    <h4 style="color: #044304" class="ct-margin-top">Game details</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Football pitch
                            name:</b><a
                                href="{% url 'football_pitch_details' upcoming_games.first.football_pitch.pk %}">
                            {{ upcoming_games.first.football_pitch.name }}</a>
                        </li>
                        <li class="list-group-item"><b>Date:</b> {{ upcoming_games.first.date|date:"d M y" }}</li>
                        <li class="list-group-item"><b>Time:</b> {{ upcoming_games.first.date|time }}</li>
                        <li class="list-group-item"><b>Duration:</b> {{ upcoming_games.first.duration }}</li>
                        <li class="list-group-item"><b>Level:</b> {{ upcoming_games.first.get_level_display }}</li>
                        <li class="list-group-item"><b>Number of players:</b> {{ reservations_count }}
                            / {{ upcoming_games.first.player_count }}</li>
                        <li class="list-group-item"><b>Age range:</b> {{ upcoming_games.first.player_age_from }}
                            - {{ upcoming_games.first.player_age_to }} </li>
                    </ul>
                    <hr>
                    <h4 style="color: #044304" class="ct-margin-top">Football pitch details</h4>
                    <ul class="list-group">
                        <li class="list-group-item"><b>Pitch
                            type:</b> {{ upcoming_games.first.football_pitch.get_type_display }}</li>
                        <li class="list-group-item"><b>Pitch
                            surface:</b> {{ upcoming_games.first.football_pitch.get_surface_display }}</li>
                        <li class="list-group-item"><b>Locker room:</b>
                            {% if upcoming_games.first.football_pitch.locker_room_available == 1 %}
                                <span class="glyphicon glyphicon-ok" style="color: green"></span>
                            {% else %}
                                <span class="glyphicon glyphicon-remove" style="color: darkred"></span>
                            {% endif %}
                        </li>
                        <li class="list-group-item"><b>Pitch address:</b> {{ upcoming_games.first.football_pitch.city }}, {{ upcoming_games.first.football_pitch.street }}
                        </li>
                        <li class="list-group-item"><b>Pitch
                            description:</b> {{ upcoming_games.first.football_pitch.description }}</li>
                    </ul>
                {% else %}
                    <h4><span class="glyphicon glyphicon-bell"></span> Next game </h4>
                    <h5 style="color: red"> You don't have any upcoming games. </h5>
                {% endif %}
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-6 ct-margin-top">

                <h2 class="ct-margin-top" style="color: #044304">{{ user.username|upper }} GAMES PANEL</h2>
                <h3 class="ct-margin-top">ORGANIZED GAMES</h3>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
                        data-target="#organized-games">
                    Hide games
                </button>
                <hr>
                <div id="organized-games" class="collapse in">
                    {% if not organized_games %}
                        <h4>You don't organize any game</h4>
                    {% else %}
                        <div style="height: 250px;overflow: scroll;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Footabll Pitch</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Details</th>
                                    <th>Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for organized_game in organized_games %}
                                    <tr>
                                        <td>{{ organized_game.football_pitch.name }}</td>
                                        <td>{{ organized_game.date|date:"d M y" }}</td>
                                        <td>{{ organized_game.date|time }}</td>
                                        <td>{{ organized_game.football_pitch.city }}, {{ organized_game.football_pitch.street }}</td>
                                        <td><a class="txtlink"
                                               href="{% url 'game_details' organized_game.pk %}">Details</a>
                                        </td>
                                        <td><a style="color: #6b0000" href="{% url 'delete_game' organized_game.pk %}">Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>


                <h3 class="ct-margin-top">UPCOMING GAMES</h3>
                <button type="button" class="btn btn-default btn-xs" data-toggle="collapse"
                        data-target="#upcoming-games">
                    Hide games
                </button>
                <hr>
                <div id="upcoming-games" class="collapse in">
                    {% if not upcoming_games %}
                        <h4>You don't have any reservations yet</h4>
                    {% else %}
                        <div style="height: 250px;overflow: scroll;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Footabll Pitch</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Details</th>
                                    <th>Leave</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for upcoming_game in upcoming_games %}
                                    <tr>
                                        <td>{{ upcoming_game.football_pitch.name }}</td>
                                        <td>{{ upcoming_game.date|date:"d M y" }}</td>
                                        <td>{{ upcoming_game.date|time }}</td>
                                        <td>{{ upcoming_game.football_pitch.city }}, {{ upcoming_game.football_pitch.street }}</td>
                                        <td><a class="txtlink"
                                               href="{% url 'game_details' upcoming_game.pk %}">Details</a>
                                        </td>
                                        {% for reservation in upcoming_game.gamereservation_set.all %}
                                            {% if reservation.user.id == user.id %}
                                                <td><a style="color: #6b0000"
                                                       href="{% url 'delete_reservation' reservation.id %}">Leave</a>
                                                </td>
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>


                <h3 class="ct-margin-top">GAME HISTORY</h3>
                <button class="btn btn-info btn-xs" data-toggle="collapse" data-target="#demo">Show history</button>

                <hr>
                <div id="demo" class="collapse">
                    {% if not past_games %}
                        <h4>You don't have game history</h4>
                    {% else %}
                        <div style="height: 250px;overflow: scroll;">
                            <table class="table table-striped">
                                <thead>
                                <tr>
                                    <th>Footabll Pitch</th>
                                    <th>Date</th>
                                    <th>Time</th>
                                    <th>Address</th>
                                    <th>Details</th>
                                    <th>Comment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for past_game in past_games %}
                                    <tr>
                                        <td>{{ past_game.football_pitch.name }}</td>
                                        <td>{{ past_game.date|date:"d M y" }}</td>
                                        <td>{{ past_game.date|time }}</td>
                                        <td>{{ past_game.football_pitch.city }}, {{ past_game.football_pitch.street }}</td>
                                        <td><a class="txtlink" href="{% url 'game_details' past_game.pk %}">Details</a>
                                        </td>
                                        {% for reservation in  past_game.gamereservation_set.all %}
                                            {% if reservation.user.id == user.id %}
                                                {% if reservation.is_commented == False %}
                                                    <td><a style="color: #c47204"
                                                           href="{% url 'add_comment' reservation.pk %}">Add comment</a>
                                                    </td>
                                                {% else %}
                                                    <td style="color: #555555">Commented</td>
                                                {% endif %}
                                            {% endif %}
                                        {% endfor %}
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

{% endblock %}
