{% extends 'base.html' %}

{% block content %}



    <table class="steelBlueCols">
        <thead>
        <tr>
            <th>Notification</th>
            <th>Actions</th>
        </tr>
        </thead>

        <tbody>
        {% for notification in notification_list%}
            <tr>
                <td>{{ notification.notification }}</td>

                {% if notification.is_invitation == True %}
                    <td>
                        <button onclick="location.href = '{% url 'invitation_service' notif_pk=notification.pk decision='yes' %}';"
                                id="myButton"
                                class="btn btn-danger">
                            Accept
                        </button>

                        <button onclick="location.href = '{% url 'invitation_service' notif_pk=notification.pk decision='no' %}';"
                                id="myButton"
                                class="btn btn-danger">
                            Denied
                        </button>
                    </td>
                {% else %}
                    <td>
                        <button onclick="location.href = '{% url 'invitation_service' notif_pk=notification.pk decision='delete' %}';"
                                id="myButton"
                                class="btn btn-danger">
                            Delete
                        </button>
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}